<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="location" value="classpath:spring/application.properties"/>
    </bean>

    <!--主配置-->
    <dubbo:application name="demo-dubbo"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!--消费-->
    <dubbo:reference id="dubboService" interface="com.raycloud.express.boss.DubboService" check="false"
                     timeout="5000" filter="qui_trace"/>


</beans>
